:root {
    --amaranth-pink: #f19cbb;
    --maya-blue: #73c2fb;
    --white: #ffffff;
    --amaranth-pink-25: #f19cbb40;
    --maya-blue-25: #73c2fb40;
    --white-25: #ffffff40;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: "Merienda";
    src: url("fonts/Merienda-VariableFont_wght.ttf");
}

@font-face {
    font-family: "EduNSWACTFoundation";
    src: url("fonts/EduNSWACTFoundation-VariableFont_wght.ttf");
}