.bg-1 {
    background: linear-gradient(120deg, var(--amaranth-pink), var(--amaranth-pink-25) 70.71%),
                linear-gradient(250deg, var(--white), var(--white-25) 70.71%),
                linear-gradient(20deg, var(--maya-blue), var(--maya-blue-25) 70.71%);
    animation: ripple infinite linear 6s;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    content: "";
}

.bg-2 {
    background: linear-gradient(120deg, var(--maya-blue), var(--maya-blue-25) 70.71%),
                linear-gradient(250deg, var(--amaranth-pink), var(--amaranth-pink-25) 70.71%),
                linear-gradient(20deg, var(--white), var(--white-25) 70.71%);
    animation: ripple infinite linear 6s;
    animation-delay: 2s;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    content: "";
}

.bg-3 {
    background: linear-gradient(120deg, var(--white), var(--white-25) 70.71%),
                linear-gradient(250deg, var(--maya-blue), var(--maya-blue-25) 70.71%),
                linear-gradient(20deg, var(--amaranth-pink), var(--amaranth-pink-25) 70.71%);
    animation: ripple infinite linear 6s;
    animation-delay: 4s;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    content: "";
}

.bg {
    transform-origin: center;
}

@keyframes ripple {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.welcome-popover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, var(--amaranth-pink), var(--amaranth-pink-25) 70.71%),
    linear-gradient(0deg, var(--white), #ffffff80 70.71%),
    linear-gradient(260deg, var(--maya-blue), var(--maya-blue-25) 70.71%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 2.5s ease-in;
}

.welcome-msg {
    font-family: "Merienda";
    font-size: 60px;
    color: #eee;
    transition: transform 0.25s ease-in-out;
    opacity: inherit;
}

.welcome-msg:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.msg-container {
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.msg-control {
    margin: 0;
    padding: 0;
    border: none;
    color: white;
    font-size: 32px;
    background-color: transparent;
}

.msg-control-base {
    display: flex;
    width: max(160px, 20%);
    flex-direction: row;
    justify-content: space-between;
}

.msg-control:hover {
    cursor: pointer;
}

.msg-control > .fa-solid {
    transition: transform 0.25s ease-in-out;
}

.msg-control > .fa-solid:hover {
    transform: scale(1.25);
}

.msg-txt {
    font-size: 32px;
    box-sizing: border-box;
    border: 6px solid white;
    background: #dddddd20;
    width: 100%;
    position: relative;
    left: auto;
    right: auto;
    top: 0%;
    padding: 40px;
    border-radius: 20px;
    font-family: "EduNSWACTFoundation";
    text-align: center;
    color: white;
    user-select: none;
}

.msg-sound {
    margin: 20px;
}

.msg-sound > .fa-solid {
    font-size: 60px;
    transition: transform 0.25s ease-in-out;
}

.msg-sound > .fa-solid:hover {
    cursor: pointer;
    transform-origin: center;
    transform: scale(1.1);
}

.resources {
    display: none;
    position: absolute;
    background: #cccccc20;
    width: 40%;
    border: solid white 6px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
    flex-direction: column;
    justify-content: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "EduNSWACTFoundation";
    overflow: auto;
}

.resources > h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 32px;
    font-style: italic;
}

.resources > h4 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
}

.resources ul {
    margin-top: 0;
}

.resources a {
    color: white;
    font-weight: 600;
}